{% extends 'base.html' %}

{% block title %}Project Report{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/worker_report.css') }}">
{% endblock %}

{% block content %}
    <form method="post" id="projectForm">
        <label for="monthrange">Select the month</label>
        <input type="month" name="monthrange">
        <label for="project">Choose the project</label>
        <input name="project" type="text" placeholder="Project">
        <input class="submit" type="submit" value="Get Report">
    </form>
{% endblock %}